---
import ContentSection from "~/components/content-section.astro";
import { SlArrowRight } from "react-icons/sl";
---

<ContentSection 
  title="Que es acuo" 
  id="QueEs" 
  customClass="p-6 md:p-16 lg:p-20 mb-12 md:mb-24 lg:mb-28"  
>
  <!-- Contenedor Principal -->
  <div class="flex flex-col items-center lg:flex-row-reverse lg:pl-20 lg:ml-20 lg:items-center  w-full text-white space-y-8 mt-8 md:space-y-12 lg:space-y-0 lg:justify-between"> <!-- Cambia a flex-row-reverse para pantallas grandes -->
    
    <!-- Contenedor del Video -->
    <div class="flex-shrink-0 lg:w-1/2">
      <div class="w-[90%] h-[auto] md:w-[500px] md:h-[300px] rounded-lg overflow-hidden mx-auto lg:mx-0">
        <video controls class="w-full h-full object-cover rounded-lg">
          <source src="/src/assets/placeholder.mp4" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>

    <!-- Contenedor de Texto -->
    <div class="flex flex-col gap-6 max-w-md text-center md:text-left lg:w-1/2 lg:pl-10"> 
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight">Simple de instalar, eficiencia en todo momento</h1>
      <p class="text-base md:text-lg">Con solo dos pasos, los usuarios podrán instalar sus estacas:</p>
      <ul class="list-decimal list-inside text-lg font-bold">
        <li>Entierra la estaca</li>
        <li>Conectar</li>
      </ul>
      <p>AC<span></span>UO no necesita de ningún factor externo para ser instalado!</p>

      <div class="flex flex-row md:flex-row justify-center md:justify-start gap-4 font-bold">
        <div class="flex flex-row gap-1 items-center justify-center">
          <a>App Store</a>
          <SlArrowRight size={20} />
        </div>
        <div class="flex flex-row gap-1 items-center justify-center">
          <a>Android</a>
          <SlArrowRight size={20} />
        </div>
      </div>
    </div>
    
  </div>
</ContentSection>
